body, html {
    margin: 0;
    height: 100%;
    padding: 10px;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.picture {
    display: flex;
    margin-bottom: 20px;
}

button {
    background-color: rgb(31, 177, 222);
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
}

.picture input {
    margin-left: 30px;
    margin-right: 10px;
}

.picture img {
    display: flex;
    width: 150px;
    height: 150px;
}

.save-pictures {
    margin-left: 0px;
    margin-bottom: 50px;
}

.my-pictures {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.my-pictures img {
    width: 150px;
    height: 150px;
    margin-left: 30px;
    margin-bottom: 20px;
}